
* { padding: 0; margin: 0; }

canvas { background: #eee; display: block; margin: 0 auto; }

table {
    position: absolute;
    top: 30px;

    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 240px;
    border-collapse:
            collapse; border-spacing: 0;
}

td {

    padding-right: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    background: #34495E;
    text-align: right;

}
.static {
    padding-left: 20px ;
    position: fixed;
    width: 20px;
}

/* Cells in even rows (2,4,6...) are one color
tr:nth-child(even) td { background: #F1F1F1; }*/

/* Cells in odd rows (1,3,5...) are another (excludes header cells)
tr:nth-child(odd) td { background: #FEFEFE; }
*/
